*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #ffffff;
    --gelo:#f0f0f5;
    --black: #000000;
    --gray:#191F26;

}

/* HTML */
html{
    font-family: 'Roboto', sans-serif;
}

/* BODY OF PAGE */
body{
    background-color: var( --gelo);
	text-decoration: none;
	-webkit-font-smoothing:antialiased;
}

/* H1,H2,H3,H4,H5,H6 */
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}

a{
	text-decoration: none;
}
